SMO.Backend/appsettings.Development.json
SMO.Backend/Properties/launchSettings.json
SMO.Backend/Properties/launchSettings.json
SMO.Backend/appsettings.json
SMO.Backend/Properties/launchSettings.json
.sonarqube
